<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
</head>
<body>

<h2 th:text="'Edit Course: ' + ${course.courseName}"></h2>

<form action="/api/editCourse" method="post">
    <input type="hidden" th:value="${course.courseId}" name="courseId">
    <input type="text" text="Course Title: " th:value="${course.courseName}" name="courseName">
    <input type="text" text="Course Time: " th:value="${course.courseTime}" name="courseTime">
    <input type="text" text="Professor: " th:value="${course.professor}" name="professor">
    <input type="submit" value="Submit Changes">
</form>

<a href="/home">Return to home page</a>

</body>
</html>