<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<h1>Home Page</h1>
<br>
<h2 th:text="${user.firstName} + ' ' + ${user.lastName}"></h2>
<br>
<div th:if="!${user.getProf()}">
  <table th:if="${user.courses.size() > 0}" title="Current Courses">
    <tr th:each="course in ${user.courses}">
      <td th:text="course.courseName">
        <button th:onclick="window.location.href='/viewCourse?courseId='+course.courseId">View Course</button>
      </td>
      <td th:text="'Professor: ' + course.professor">
      </td>
      <td th:if="course.assignments != null" th:each="assignment in course.assignments">
        <a th:text="assignment.assignmentName" th:href="|window.location.href='/viewAssignment?assignmentId='+assignment.assignmentId"></a>
        <span th:text="assignment.dueDate"></span>
      </td>
    </tr>
  </table>
</div>
<div th:if="${user.getProf()}">
  <h4>This is where the professor stuff goes</h4>
</div>
<br>

</body>
</html>