<!DOCTYPE html>
<<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">>
<head>
    <meta charset="UTF-8">
    <title>Easel</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>


<body>

  <h1><Strong>Easel</Strong></h1>

  <br>

  <form th:action ="@{/login}">
      <button class="button" style="vertical-align: middle"><span>Log In</span></button>
  </form>


  <form  th:action="@{/signup}">
      <button class="button" style="vertical-align: middle"><span>Sign up</span></button>
  </form>

</body>


</html>