<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>


<h1><Strong>Login</Strong></h1>
    <br>
    <h3 th:text="${response}"></h3>
    <form style="margin: auto; width: 220px;" method="post" action="/login">
        <div class="mb-3 mt-3">
         <label for="username" class="form-label">Username: </label>
        <input id="username" class="form-control" name="username" type="text" placeholder="Username">

        </div>
           <div class="mb-3">
         <label for="password" class="form-label">Password: </label>
        <input id="password" class="form-control" name="password" type="password" placeholder="Password">
        </div>
        <input type="submit" class="btn btn-primary" value="Log In">



    </form>

</a>


</body>
</html>