<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<br>
<form method="post" action="/api/createUser">
    <table>
        <tr>
            <td><h4>First Name: </h4></td>
          <td><h4> <input class="w3-input w3-border" name="firstName" type="text" placeholder="firstName"> </h4></td>
        </tr>

   <tr>
       <td><h4>Last Name: </h4></td>
       <td><h4> <input class="w3-input w3-border" name="lastName" type="text" placeholder="lastName"> </h4></td>

   </tr>


    <tr>
        <td><h4>Username: </h4></td>
       <td><h4><input class="w3-input w3-border" name="username" type="text" placeholder="Username"> </h4></td>
    </tr>


    <tr>
        <td><h4>Password: </h4></td>
        <td><h4> <input name="password" type="password" placeholder="Password"> </h4></td>

    </tr>


    <input name="passwordCheck" type="password" placeholder="Please type password again">

    <select name="isProf" id="isProf">
        <option>false</option>
        <option>true</option>
    </select>
    <label for="isProf">I am a professor:</label>


    
    <input type="submit" value="Sign Up!">
    </table>
</form>
</body>
</html>